<<<<<<< HEAD
tr th{
    background-color: rgb(82, 228, 82);
    color: white;
=======
tr th{
    background-color: rgb(82, 228, 82);
    color: white;
>>>>>>> bac92c47168eeed9b1c41322530f9bf4e090690f
}