<<<<<<< HEAD
tr th {
    text-align: center;
    background-color: rgb(190, 72, 51);
    color: white;
}

=======
tr th {
    text-align: center;
    background-color: rgb(190, 72, 51);
    color: white;
}

>>>>>>> bac92c47168eeed9b1c41322530f9bf4e090690f
