<<<<<<< HEAD
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 600px;
    height: 600px;
    border: 5px solid red;

    
}

section {
    background-color: green;
    border: 1px solid purple;
=======
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 600px;
    height: 600px;
    border: 5px solid red;

    
}

section {
    background-color: green;
    border: 1px solid purple;
>>>>>>> bac92c47168eeed9b1c41322530f9bf4e090690f
}