<<<<<<< HEAD
body {
    background-image: url(download.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    font-weight: bolder;
}
div{
    
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    text-align: end;
    margin: 20px; 
}

=======
body {
    background-image: url(download.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    font-weight: bolder;
}
div{
    
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    text-align: end;
    margin: 20px; 
}

>>>>>>> bac92c47168eeed9b1c41322530f9bf4e090690f
