/* https://cssbattle.dev/play/keYseZmcpOBxzXdqq6Hl */
/* <p>
  <style>
    *{
      background:#E0E7FF;
    +*{
      border:43q solid#4F77FF;
      border-radius:50%;
      margin:50 170 50 25;
      -webkit-box-reflect:right -51px
    }
  }
  p{
    padding:25;margin:35-40
  }
  </style> */