<<<<<<< HEAD
h1 {
    color: aquamarine;
}
h2 {
    text-align: center;
}
h3 {
    font-size: 30px; 
}
h4 {
    text-shadow: 3px 3px 1px rgb(167, 97, 97);
}
h5 {
    font-weight: 600;
}
h6 {
    background-color: brown;
}
p {
    font-size: xx-large;
}







=======
h1 {
    color: aquamarine;
}
h2 {
    text-align: center;
}
h3 {
    font-size: 30px; 
}
h4 {
    text-shadow: 3px 3px 1px rgb(167, 97, 97);
}
h5 {
    font-weight: 600;
}
h6 {
    background-color: brown;
}
p {
    font-size: xx-large;
}







>>>>>>> 52b68c66241e3ada5f3faddd06b0eb87c89a924c
